<div class="container" ng-controller="membersViewController" ng-init="init()">
<div class="row">
    <div class="col-xs-12">
        <h1>Members</h1> 
        
    </div>
</div>
<pre>Sorting: {{sort}}</pre>
<pre>CurrentPage: {{currentPage}}</pre>
<pre>Search: {{search}}</pre>
<div class="row">
    <div class="col-xs-12">
        <p><button ng-click="setSomething()" class="btn btn-primary btn-sm">Test Defined Status</button> (tests defined sort, current page and search text)</p>
    </div>
</div>
<div class="row">
    <form class="col-sm-4">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
          <input ng-model="search" type="text" class="form-control" id="search" placeholder="Search">
      </div>
    </div>
    </form>
    <p class="disabled">(Showing {{ ((currentPage -1) * pageSize)+1 }}-{{ numPages == currentPage ? filterList.length : ((currentPage) * pageSize) }} of {{ filterList.length }})</p>
</div>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="email" custom-sort order="'email'" sort="sort">Username&nbsp;</th>
                <th class="first_name" custom-sort order="'first_name'" sort="sort">First Name&nbsp;</th>
                <th class="last_name" custom-sort order="'last_name'" sort="sort">Last Name&nbsp;</th>
                <th class="guid">GUID&nbsp;</th>
                <th class="last_login">Last Login&nbsp;</th>
                <th class="status">Status&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <td colspan="4">
                <pagination total-items="filterList.length" items-per-page="pageSize" ng-model="currentPage" max-size="5" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" class="pagination-sm"></pagination>
            </td>
        </tfoot>
        <tbody>
            <tr ng-repeat="item in filterList | orderBy:sort.sortingOrder:sort.reverse | start: (currentPage - 1) * pageSize | limitTo: pageSize">
                <td>{{item.email}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.guid}}</td>
                <td>{{item.last_login * 1000 | date: 'MMM d, y h:mm:ss a' }}</td>
                <td>{{item.status}}</td>
            </tr>
        </tbody>
    </table>
</div>