<h2>{{ group.group_name }}</h2>

<div ng-show="!group.submitted">
  <div class="field row">
    <div class="col-sm-2">question Group ID:</div>
    <div class="col-sm-4">{{ group.group_id }}</div>
  </div>

  <ul ui-sortable="sortableOptions" id="sortable" ng-model="group.group_questions">
    <li class="ui-state-default question-block" ng-repeat="question in group.group_questions">
      <h4>{{question.question_title}}</h4>
      <!-- <div field-directive question="question"></div> -->
      <div>
        <div class="row hidden">
          <div class="col-sm-2">question ID: </div>
          <div class="col-sm-4">{{question.question_id}}</div>
        </div>
        <div class="row hidden">
          <div class="col-sm-2">question Type:</div>
          <div class="col-sm-4">{{question.question_type}}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">Question Title:</div>
          <div class="col-sm-4"><input type="text" ng-model="question.question_title" value="{{question.question_title}}"></div>
        </div>
        <div class="row" ng-show="!showAddOptions(question.question_type)">
          <div class="col-sm-2">Question Default Value:</div>
          <div class="col-sm-4"><input type="text" ng-model="question.question_value" value="{{question.question_value}}"></div>
        </div>
        <div class="row" ng-show="showAddOptions(question.question_type)">
          <div class="col-sm-2">Question Options:</div>
          <div class="col-sm-6">
            <div ng-repeat="option in question.question_options">
              <input type="text" ng-model="option.option_title" value="{{option.option_title}}">
              <a class="btn btn-danger btn-xs right" type="button" ng-click="deleteOption(question, option)"><i class="fa fa-minus fa-white"></i></a>
              <span class="label label-inverse">Value: {{ option.option_value }}</span>
            </div>
            <button class="btn btn-primary btn-small" type="button" ng-click="addOption(question)"><i class="icon-plus icon-white"></i> Add Option</button>
          </div>
        </div>

        <div class="clear"></div> <hr>

        <div class="row">
          <div class="col-sm-2">Required:</div>
          <div class="col-sm-4">
            <label>
              <input type="radio" ng-value="true" ng-selected ng-model="question.question_required"/>
              &nbsp; Yes
            </label>
            <label>
              <input type="radio" ng-value="false" ng-model="question.question_required"/>
              &nbsp; No
            </label>
          </div>
        </div>

        <div class="clear"></div> <hr>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-danger pull-right" type="button" ng-click="deleteQuestion(question.question_id)"><i class="fa fa-trash fa-white"></i> Delete</button>
          </div>
        </div>

        <div class="clear"></div> <hr>
        <h4>Preview</h4>
        <div field-directive question="question"></div>
      </div> 
    </div>
  </li>
</ul>

  <!--   <div ng-repeat="question in group.group_questions" ng-model="group.group_questions" data-drop="true" data-drag="true" jqyoui-droppable="{index: {{$index}}, onOver:'startCallback()'}" jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}" data-jqyoui-options="{revert: 'invalid'}" data-direction="{{question.jqyouiDirection}}" class="question-block">
    <h4>{{question.question_title}}</h4>
    <div>
      <div class="row hidden">
        <div class="col-sm-2">question ID: </div>
        <div class="col-sm-4">{{question.question_id}}</div>
      </div>
      <div class="row hidden">
        <div class="col-sm-2">question Type:</div>
        <div class="col-sm-4">{{question.question_type}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2">question Title:</div>
        <div class="col-sm-4"><input type="text" ng-model="question.question_title" value="{{question.question_title}}"></div>
      </div>
      <div class="row">
        <div class="col-sm-2">question Default Value:</div>
        <div class="col-sm-4"><input type="text" ng-model="question.question_value" value="{{question.question_value}}"></div>
      </div>-->
      <!-- <div class="row" ng-show="showAddOptions(question.question_type)">
        <div class="col-sm-2">question Options:</div>
        <div class="col-sm-6">
          <div ng-repeat="option in question.question_options">
            <input type="text" ng-model="option.option_title" value="{{option.option_title}}">
            <a class="btn btn-danger btn-mini right" type="button" ng-click="deleteOption(question, option)"><i class="icon-minus icon-white"></i></a>
            <span class="label label-inverse">Value: {{ option.option_value }}</span>
          </div>
          <button class="btn btn-primary btn-small" type="button" ng-click="addOption(question)"><i class="icon-plus icon-white"></i> Add Option</button>
        </div>
      </div>

      <div class="clear"></div> <hr>

      <button class="btn btn-danger pull-right" type="button" ng-click="deleteField(question.question_id)"><i class="fa fa-trash fa-white"></i> Delete</button> -->

 <!--     <div class="row">
        <div class="col-sm-2">Required:</div>
        <div class="col-sm-4">
          <label>
            <input type="radio" ng-value="true" ng-selected ng-model="question.question_required"/>
            &nbsp; Yes
          </label>
          <label>
            <input type="radio" ng-value="false" ng-model="question.question_required"/>
            &nbsp; No
          </label>
        </div>
      </div>

      <div class="clear"></div> <hr>
      </div>
    </div>-->
  </div> 

  <!-- form actions -->
</div>

<!-- sumbitted -->
