<div class="col-sm-2 question-options" ng-if="question.question_view == 'preview'">
  <ul class="list-unstyled">
    <li><div ng-click="change(question.question_type, 'edit')" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</div></li>
    <li><div ng-click="remove(question)" class="btn btn-link"><i class="fa fa-times" aria-hidden="true"></i> Remove</div></li>
    <li><div class="myHandle btn btn-link"><i class="fa fa-arrows" aria-hidden="true"></i> Move</div></li>
  </ul>
</div>