<div class="container" >
  <div class="row">
    <div class="col-xs-12 panel panel-default">
      {{ question }}
      <div class="panel-header">
        <h4>Question Builder</h4>
      </div>
      <div class="panel-body">
        <div question-slider images="questionTypes" group="5" buildquestion="buildQuestion(item)"></div>
        <div create-question newquestion="newQuestion"></div>
        <p>New Question: {{ newQuestion }}</p>
        <button save-new-question="saveNewQuestion(newQuestion)" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>