<div class="question container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <div class="row hidden">
        <div class="col-sm-12">
          {{ question.question_id}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input ng-model="question.question_value" id="{{question.question_id}}" type="checkbox" ng-true-value="1" ng-false-value="0" ng-required="question.requiredFlag" ng-disabled="question.question_disabled"/>
          <label class="question-label" for="{{question.question_id}}" ng-cloak>{{question.text}}</label>
          <span class="required-error" ng-show="question.requiredFlag && question.question_value == 0">(* required)</span>
        </div>
      </div>
    </div>
    <div question-options></div>
  </div>
</div>