<div class="question container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <div class="row hidden">
        <div class="col-sm-12">
          {{ question.question_id}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input ng-model="question.question_value" id="{{question.question_id}}" type="checkbox" ng-true-value="1" ng-false-value="0" ng-required="question.question_required" ng-disabled="question.question_disabled"/>
          <label class="question-label" for="{{question.question_id}}" ng-cloak>{{question.question_title}}</label>
          <span class="required-error" ng-show="question.question_required && question.question_value == 0">(* required)</span>
        </div>
      </div>
    </div>
    <div class="col-sm-2 question-options" ng-if="question.question_view == 'preview'">
      <ul class="list-unstyled">
        <li><div ng-click="change(question.question_type, 'edit')" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</div></li>
        <li><div class="myHandle btn btn-link"><i class="fa fa-arrows" aria-hidden="true"></i> Move</div></li>
      </ul>
    </div>
  </div>
</div>