<div class="question container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <div class="row hidden">
        <div class="col-sm-12">
          {{ question.question_id}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">{{question.text}}:</div>
        <div class="col-sm-4">
        <input type="text" 
          ng-model="question.question_value" 
          value="{{question.question_value}}" 
          ng-required="question.requiredFlag"
          ng-disabled="question.question_disabled">
            <span class="required-error" ng-show="question.requiredFlag && !question.question_value">* required</span>
        </div>
      </div>
    </div>
    <div question-options></div>
  </div>
</div>
